/* *{
  margin: 0 auto;
} */
body{
  /* background: url(../finalProject/baksoBackground.jpg) no-repeat; background-size: 1300px; */
  background-image: linear-gradient(rgba(65, 65, 65, 0.281), rgba(66, 66, 66, 0.137)),url(../askMeetBowl/baksoBackground.jpg);
  /* background: url(../finalProject/untukBg2.jpg) no-repeat; background-size: 1330px; */
  /* background-image: linear-gradient(rgba(65, 65, 65, 0.281), rgba(66, 66, 66, 0.137)),url(../finalProject/untukBg2.jpg); */
  /* background-position: center; */
  max-width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}
header{
  /* font-variant: common-ligatures; */
  /* font-family: 'MuseoModerno', cursive; */
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  font-size: 28px;
  color:#000000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  position: relative;
  text-align: center;
  /* left: 10%; */
  /* right: 10%; */
  top: -10px;
}
.klir{
  text-decoration: none;
}
.logo{
  position: relative;
/*     top: 10px; */
  bottom: 130px;
/*     right: -100px; */
  left: 405px;
  z-index: 10;
}
.a{
  /* font-family: 'MuseoModerno', cursive; */
  /* font-family: 'Notable', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Pangolin', cursive;
  color:#000000;
/*     text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  font-size: 14px;
  text-decoration: auto;
  position: relative;
/*     top: -90px; */
  bottom: 205px;
  left: 675px;
/*     right: 100px; */
}
.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
/*     top: 10px; */
  bottom: 180px;
}
.container .content {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 580px;
  padding: 0px 10px 0px 10px;
}

/* UJI COBA SIDENAV! */
.tombolDalam{
  position: relative;
  font-family: 'Fredoka One', cursive;
}
.tombolLuar{
  margin: 0 auto;
  position: fixed;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  background-color: rgba(0, 0, 0, 0.315);
  border: solid black;
  border-radius: 10px;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  float: left;
  left: 30px;
  text-align: center;
  padding : 15px;
/*     margin: 10px; */
}
.tombolLuar:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
    text-align: center;
  font-size: 55px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 16px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 