*{
    font-family: 'Oswald', sans-serif;
    background-color: dimgrey;
}
header{
    font-family: 'Oswald', sans-serif;
    font-size: 800px;
    color:white;
    text-shadow: gold;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* letter-spacing: 4px; */
    /* position: relative; */
    /* height: 50px; */
    /* z-index: 10; */
}