*{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;   
}
body{
    /* background: url(../finalProject/pattern.png) repeat; background-size: 200px; */
    background: url(../finalProject/wood.jpg) no-repeat; background-size: 1330px;
    background-position: initial;
/*     background-position-x: 0px; */
/*     background-position-y: -100px; */
    max-width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
header{
    font-variant: common-ligatures;
    font-size: 90px;
    color:rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 35px;
}
header:hover{
    color:rgb(100, 100, 100);
}
footer{
    position: absolute;
    bottom: 50px;
    left: 560px;
    margin: 0;
    padding: 0;
}
/* .img{
    background-position: 50%;
    background-position-x: 100px;
    background-position-y: 10px;
    max-width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
} */
.a{
    color:rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: auto;
    font-family: inherit;
    position: absolute;
    top: 30px;
    right: 250px;
}
.intro{
    font-size: 50px;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
/*     display: contents; */
    text-decoration: none;
    position: absolute;
    top: 260px;
    left: 40%;
/*     transform: translate(-50%, 50%) */
}
.intro :hover {
    color: rgb(90, 90, 90)
}
/* ul{
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-break: loose;
} */