*{
    text-align: center;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'MuseoModerno', cursive; */
    font-family: 'Notable', sans-serif;
    margin: 0;
    padding: 0;   
}
body{
    /* background: url(../finalProject/wood.jpg) no-repeat; background-size: 1330px; */
    /* background: url(../finalProject/Bakso1\(1\).jpg) no-repeat; background-size: 1300px; */
    background: url(../finalProject/baksoBackground.jpg) no-repeat; background-size: 1300px;
    background-position: center;
/*     background-position-x: 0px; */
/*     background-position-y: -100px; */
    max-width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}
header{
    font-variant: common-ligatures;
    /* font-family: 'MuseoModerno', cursive; */
    font-size: 50px;
    color:#000000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: relative;
    text-align: center;
/*     left: 10%;
    right: 10%; */
    top: 55px;
}
/* header:hover{
    color:rgb(100, 100, 100);
} */
footer{
    position: relative;
    top: 120px;
/*     bottom: 50px; */
/*     left: 560px; */
    margin: 0;
    padding: 0;
}
.a{
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Notable', sans-serif; */
    color:#000000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 20px;
    text-decoration: auto;
    font-family: inherit;
    position: absolute;
    top: 45px;
    right: 370px;
}
.intro{
    font-size: 140px;
    color:rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    padding: 0;
    position: relative;
    top: 80px;
    /*     display: contents; */
/*     left: 40%; */
/*     transform: translate(-50%, 50%) */
}
.more{
    position: relative;
/*     image-orientation: none */
/*     right: 350px; */
    top: 100px;
    z-index: 1;
}
.more:hover {
    /* background-color: blanchedalmond; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 0px;
    margin: 0px;
    border: 0px;
}